/************************ SELECTORS******************** */

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat-black', sans-serif;
}
p{
  color: #8f8f8f;
}
span{
  margin: 20px;
}
/**************** section ************** */
.colored-section{
  background-color:  #ff4c68;
  color:#fff;
}
.white-section{
  background-color:#fff;
}
/**************************headings**********************************/

.big-heading{
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
.section-sub-heading{
  font-size:1.5rem;
  font-weight: bold;
}

/***********************padding ******************/
.section-padding{
  padding: 3% 15%;
}
/* ********************title section********************** */

 .main-heading{
  text-align: left;
}
.title-img{
  width:50%;
  transform: rotate(25deg);
}


/***************************** navbar*******************/
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight:lighter;
}


/* *************Download button********************* */
.Download-button{
  margin:3% 3% 5% 3%;
}



/********************* features*********************** */
#features{
  margin: 10rem auto;
  width: 900px;
}
.container-features{
  padding-left: 2.5rem;
}
.features-img{
  margin-bottom: 1rem;
  color:#ef8172;
}



/* ***************************testimonials section **********************/
#testimonials{
  color:#fff;
  background-color: #ef8172;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 15px;
}
.testimonial-text{
font-size: 2rem;
line-height: 1.5;
}
.prev{
  margin-right: 100px;
}

/* *******************press ****************/
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 15px;
}

/* *********************pricing***************************** */
.pricing-desc{
  font-weight: bold;
}
.card-mid-title{
    /* font-size: 1.5rem; */
    font-weight: bold;
}



/********************** Call to Action****************** */
#cta{
  background-color: #ff4c68;
  color: #fff;
}

/* ************footer*************** */
.footer-heading{
  text-align: center;
}


/* ****************media query***********************/
  @media (max-width:800px) {

    .big-heading{
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
    .title-img{
      transform: rotate(0);
    }
    h1{
      font-size: 40px;
    }
    #features{
  display: inline;
    }
    .testimonial-text{
    font-size: 1rem;
    }

  }
